# LobeChat domain
APP_URL=https://lobe.example.com/

# Related to Postgres, which are the necessary environment variables for the DB
# Key used for encrypting sensitive information, can be generated using `openssl rand -base64 32`
KEY_VAULTS_SECRET=Kix2wcUONd4CX51E/ZPAd36BqM4wzJgKjPtz2sGztqQ=
# Postgres database connection string
# Format: postgres://username:password@host:port/dbname
# If your pg instance is a Docker container, please use the container name
DATABASE_URL=postgresql://postgres:uWNZugjBqixf8dxC@postgresql:5432/postgres

# Related to NEXT_AUTH, can use auth0, Azure AD, GitHub, Authentik, zitadel, etc. If you have other integration requests, feel free to submit a PR
# Here is an example using GitHub
NEXT_AUTH_SECRET=cDdPtQevMi2uFFLUFNx9rJoposxo362G
NEXT_AUTH_SSO_PROVIDERS=github
NEXTAUTH_URL=https://lobe.example.com/api/auth
GITHUB_CLIENT_ID=h3nagLLGo4MxDGYB4SpU
GITHUB_CLIENT_SECRET=eL5poxnVPggh38Ny56HH6KbxnHehVymFyziET4jo
# Note: If you have an ACCESS_CODE, please make sure to clear it, we use NEXT_AUTH as the only authentication source
# Proxy, if you need it
HTTP_PROXY=http://localhost:7890
HTTPS_PROXY=http://localhost:7890

# MinIO S3 configuration
S3_ACCESS_KEY_ID=YOUR_S3_ACCESS_KEY_ID         # Invalid until manually created in MinIO UI
S3_SECRET_ACCESS_KEY=YOUR_S3_SECRET_ACCESS_KEY # Invalid until manually created in MinIO UI
S3_ENDPOINT=https://lobe-s3-api.example.com
S3_BUCKET=lobe                                 # Invalid until manually created in MinIO UI
S3_PUBLIC_DOMAIN=https://lobe-s3-api.example.com
S3_ENABLE_PATH_STYLE=1

# Other environment variables, depending on needs, can refer to the environment variable configuration of the client version, be careful not to have ACCESS_CODE
# OPEANAI_API_KEY=sk-xxxx
# OPENAI_PROXY_URL=https://api.openai.com/v1
# OPENAI_MODEL_LIST=...
