@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  30% {
    fill-opacity: 0%;
  }

  100% {
    fill-opacity: 100%;
  }
}

.animate-draw {
  fill: currentcolor;
  fill-opacity: 0%;
  stroke: currentcolor;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 1.5;

  animation:
    draw 2s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    fill 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
