lockfile=false
shamefully-hoist=true
ignore-workspace-root-check=true

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
